In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
df.drop??

Signature:
df.drop(
    labels: 'IndexLabel | None' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel | None' = None,
    columns: 'IndexLabel | None' = None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'
Source:
    def drop(
        self,
        labels: IndexLabel | None = None,
        *,
        axis: Axis = 0,
        index: IndexLabel | None = None,
        columns: IndexLabel | None = None,
        level: Level | None = None,
        inplace: bool = False,
        errors: IgnoreRaise = "raise",
    ) -> DataFrame | None:
        """
        Drop specified labels from rows or columns.

        Remove rows or columns by specifying label names and corresponding
        axis, or by directly specifying index or column names. When using a
        multi-index, labels on different levels can be removed by specifying
        the level. See the :ref:`user guide <advanced.shown_levels>`
        for more information about the now unused levels.

        Parameters
        ----------
        labels : single label or list-like
            Index or column labels to drop. A tuple will be used as a single
            label and not treated as a list-like.
        axis : {0 or 'index', 1 or 'columns'}, default 0
            Whether to drop labels from the index (0 or 'index') or
            columns (1 or 'columns').
        index : single label or list-like
            Alternative to specifying axis (``labels, axis=0``
            is equivalent to ``index=labels``).
        columns : single label or list-like
            Alternative to specifying axis (``labels, axis=1``
            is equivalent to ``columns=labels``).
        level : int or level name, optional
            For MultiIndex, level from which the labels will be removed.
        inplace : bool, default False
            If False, return a copy. Otherwise, do operation
            in place and return None.
        errors : {'ignore', 'raise'}, default 'raise'
            If 'ignore', suppress error and only existing labels are
            dropped.

        Returns
        -------
        DataFrame or None
            Returns DataFrame or None DataFrame with the specified
            index or column labels removed or None if inplace=True.

        Raises
        ------
        KeyError
            If any of the labels is not found in the selected axis.

        See Also
        --------
        DataFrame.loc : Label-location based indexer for selection by label.
        DataFrame.dropna : Return DataFrame with labels on given axis omitted
            where (all or any) data are missing.
        DataFrame.drop_duplicates : Return DataFrame with duplicate rows
            removed, optionally only considering certain columns.
        Series.drop : Return Series with specified index labels removed.

        Examples
        --------
        >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
        ...                   columns=['A', 'B', 'C', 'D'])
        >>> df
           A  B   C   D
        0  0  1   2   3
        1  4  5   6   7
        2  8  9  10  11

        Drop columns

        >>> df.drop(['B', 'C'], axis=1)
           A   D
        0  0   3
        1  4   7
        2  8  11

        >>> df.drop(columns=['B', 'C'])
           A   D
        0  0   3
        1  4   7
        2  8  11

        Drop a row by index

        >>> df.drop([0, 1])
           A  B   C   D
        2  8  9  10  11

        Drop columns and/or rows of MultiIndex DataFrame

        >>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
        ...                              ['speed', 'weight', 'length']],
        ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
        ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
        >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
        ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
        ...                         [250, 150], [1.5, 0.8], [320, 250],
        ...                         [1, 0.8], [0.3, 0.2]])
        >>> df
                        big     small
        llama   speed   45.0    30.0
                weight  200.0   100.0
                length  1.5     1.0
        cow     speed   30.0    20.0
                weight  250.0   150.0
                length  1.5     0.8
        falcon  speed   320.0   250.0
                weight  1.0     0.8
                length  0.3     0.2

        Drop a specific index combination from the MultiIndex
        DataFrame, i.e., drop the combination ``'falcon'`` and
        ``'weight'``, which deletes only the corresponding row

        >>> df.drop(index=('falcon', 'weight'))
                        big     small
        llama   speed   45.0    30.0
                weight  200.0   100.0
                length  1.5     1.0
        cow     speed   30.0    20.0
                weight  250.0   150.0
                length  1.5     0.8
        falcon  speed   320.0   250.0
                length  0.3     0.2

        >>> df.drop(index='cow', columns='small')
                        big
        llama   speed   45.0
                weight  200.0
                length  1.5
        falcon  speed   320.0
                weight  1.0
                length  0.3

        >>> df.drop(index='length', level=1)
                        big     small
        llama   speed   45.0    30.0
                weight  200.0   100.0
        cow     speed   30.0    20.0
                weight  250.0   150.0
        falcon  speed   320.0   250.0
                weight  1.0     0.8
        """
        return super().drop(
            labels=labels,
            axis=axis,
            index=index,
            columns=columns,
            level=level,
            inplace=inplace,
            errors=errors,
        )
File:      c:\users\omprakash.n\appdata\local\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [4]:
df.drop(columns=['Car_Name', 'Seller_Type'],inplace=True, axis=1)

In [5]:
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Manual,0
1,2013,4.75,9.54,43000,Diesel,Manual,0
2,2017,7.25,9.85,6900,Petrol,Manual,0
3,2011,2.85,4.15,5200,Petrol,Manual,0
4,2014,4.60,6.87,42450,Diesel,Manual,0

In [6]:
df.isnull().sum()

Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Transmission     0
Owner            0
dtype: int64

In [7]:
df.shape

(301, 7)

In [8]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [9]:
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True, dtype=int)
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
0,2014,3.35,5.59,27000,0,0,1,1
1,2013,4.75,9.54,43000,0,1,0,1
2,2017,7.25,9.85,6900,0,0,1,1
3,2011,2.85,4.15,5200,0,0,1,1
4,2014,4.60,6.87,42450,0,1,0,1

In [10]:
X = df.drop('Selling_Price', axis=1)
y = df['Selling_Price']

In [11]:
X.head()

,Year,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
0,2014,5.59,27000,0,0,1,1
1,2013,9.54,43000,0,1,0,1
2,2017,9.85,6900,0,0,1,1
3,2011,4.15,5200,0,0,1,1
4,2014,6.87,42450,0,1,0,1

In [12]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2, random_state=20)
X_train, X_test, y_train, y_test

(     Year  Present_Price  Kms_Driven  Owner  Fuel_Type_Diesel  \
 293  2010          9.900       38000      0                 0
 17   2016         10.790       43000      0                 1
 114  2015          1.470       17000      0                 0
 213  2011          6.790       31604      0                 0
 161  2014          0.826       23000      0                 0
 234  2015          5.700        4492      0                 0
 138  2016          0.870       15000      0                 0
 115  2015          1.470       17500      0                 0
 78   2010         22.830       80000      0                 0
 82   2017         25.390       15000      0                 1
 207  2015          5.700       34797      0                 0
 26   2013          5.870       55138      0                 0
 265  2017          8.700       21200      0                 0
 8    2016          8.890       20273      0                 1
 267  2016          9.400       19434      0                 1
 27   2017          6.490       16200      0                 0
 4    2014          6.870       42450      0                 1
 142  2015          0.840       29000      0                 0
 22   2011          8.010       50000      0                 0
 180  2012          0.510       60000      0                 0
 70   2014          6.760       71000      0                 1
 3    2011          4.150        5200      0                 0
 42   2008          7.150       58000      0                 0
 191  2012          0.570       25000      1                 0
 281  2006          7.600       50456      0                 0
 294  2014          6.800       33019      0                 0
 75   2015          6.800       36000      0                 0
 187  2013          0.510       32000      0                 0
 79   2012         30.610       89000      0                 1
 285  2016          8.500       15059      0                 0
 43   2014          8.060       45780      0                 1
 248  2013          4.600       30000      0                 0
 259  2014          7.000       36054      0                 0
 274  2014          6.800       16500      0                 0
 262  2015          5.800       40023      0                 0
 266  2014          7.000       35000      0                 0
 203  2011          4.600       53460      0                 0
 202  2015          5.700       28200      0                 0
 25   2011          4.990       20000      0                 0
 141  2016          0.800       20000      0                 0
 6    2015          8.120       18796      0                 0
 255  2012          5.350       53675      0                 0
 263  2016          7.700       16002      0                 0
 105  2015          2.370       21700      0                 0
 144  2014          0.990       25000      0                 0
 190  2008          0.750       60000      0                 0
 288  2015         13.600       34000      0                 0
 230  2013          9.400       45000      0                 1
 253  2014          9.900       48000      0                 1
 272  2015         10.000       27600      0                 0
 251  2013          9.900       56701      0                 0
 282  2014         14.000       63000      0                 1
 40   2016          7.870       24524      0                 0
 118  2015          1.470       26000      0                 0
 162  2012          0.990       14500      0                 0
 71   2011         12.480       45000      0                 1
 278  2016          8.400        4000      0                 0
 218  2014          9.400       45078      0                 0
 223  2015          9.400       61381      0                 1
 271  2009         10.000       69562      0                 0

      Fuel_Type_Petrol  Transmission_Manual
 293                 1                    1
 17                  0                    1
 114                 1                    1
 213                 1                    1
 161                 1                    1
 234                 1                    1
 138                 1                    1
 115                 1                    1
 78                  1                    0
 82                  0                    0
 207                 1                    0
 26                  1                    1
 265                 1                    1
 8                   0                    1
 267                 0                    1
 27                  1                    1
 4                   0                    1
 142                 1                    1
 22                  1                    0
 180                 1                    1
 70                  0                    1
 3                   1                    1
 42                  1                    1
 191                 1                    1
 281                 1                    1
 294                 1                    1
 75                  1                    1
 187                 1                    1
 79                  0                    0
 285                 1                    0
 43                  0                    1
 248                 1                    1
 259                 1                    1
 274                 1                    1
 262                 1                    1
 266                 1                    1
 203                 1                    1
 202                 1                    1
 25                  1                    1
 141                 1                    1
 6                   1                    1
 255                 1                    1
 263                 1                    1
 105                 1                    1
 144                 1                    1
 190                 1                    1
 288                 1                    1
 230                 0                    1
 253                 0                    1
 272                 1                    1
 251                 1                    1
 282                 0                    1
 40                  1                    0
 118                 1                    1
 162                 1                    1
 71                  0                    1
 278                 1                    1
 218                 1                    1
 223                 0                    1
 271                 1                    1  ,
      Year  Present_Price  Kms_Driven  Owner  Fuel_Type_Diesel  \
 211  2015          14.79       43535      0                 1
 298  2009          11.00       87934      0                 0
 28   2010           3.95       44542      0                 0
 286  2016           7.90       28569      0                 0
 132  2017           0.95        3500      0                 0
 ..    ...            ...         ...    ...               ...
 123  2013           1.47       46500      0                 0
 212  2016          13.60       22671      0                 0
 60   2013          18.61       40001      0                 0
 283  2016          11.80        9010      0                 0
 250  2016          13.60       35934      0                 1

      Fuel_Type_Petrol  Transmission_Manual
 211                 0                    1
 298                 1                    1
 28                  1                    1
 286                 1                    1
 132                 1                    1
 ..                ...                  ...
 123                 1                    1
 212                 1                    1
 60                  1                    1
 283                 1                    1
 250                 0                    1

 [241 rows x 7 columns],
 293     3.25
 17      7.75
 114     1.15
 213     2.90
 161     0.45
 234     5.50
 138     0.60
 115     1.11
 78      5.25
 82     23.00
 207     5.15
 26      4.15
 265     6.50
 8       8.75
 267     8.35
 27      6.00
 4       4.60
 142     0.60
 22      4.40
 180     0.30
 70      3.95
 3       2.85
 42      1.95
 191     0.20
 281     2.10
 294     3.75
 75      3.95
 187     0.25
 79     14.50
 285     7.40
 43      5.50
 248     4.00
 259     3.90
 274     5.30
 262     4.00
 266     3.65
 203     2.95
 202     4.40
 25      3.00
 141     0.60
 6       6.75
 255     3.00
 263     6.60
 105     1.35
 144     0.60
 190     0.20
 288     8.40
 230     6.15
 253     7.20
 272     7.50
 251     5.00
 282     8.25
 40      5.85
 118     1.10
 162     0.45
 71      4.50
 278     6.00
 218     6.45
 223     8.25
 271     3.00
 Name: Selling_Price, dtype: float64,
 211    11.75
 298     3.35
 28      1.95
 286     5.65
 132     0.75
        ...
 123     1.00
 212    11.25
 60      6.95
 283     8.99
 250    12.90
 Name: Selling_Price, Length: 241, dtype: float64)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [31]:
y_pred = model.predict(2014, 5.59, 27000, 0, 0, 1, 1)

TypeError: LinearModel.predict() takes 2 positional arguments but 8 were given

In [16]:
y_pred = model.predict(X_test)
y_pred

array([ 1.00562562e+01,  2.31891581e+00,  8.07650073e-01,  5.58261412e+00,
        3.30133754e+00,  9.01602852e-01,  9.13066787e+00,  2.64733491e+00,
        4.61220597e+00,  9.62520786e+00, -5.72279801e-01,  3.24333352e+00,
        2.28648032e+00,  7.14259522e+00,  6.39117993e+00,  4.16510217e+00,
        4.56205688e+00,  4.76285005e+00,  7.47753386e+00,  2.43495797e+00,
        4.43345447e-01,  1.92600221e+01,  4.53395141e+00,  2.01010690e+01,
        3.81127977e+00,  4.20135126e+00,  9.09656628e+00,  9.66006972e-01,
        2.69383048e+00, -1.29561019e+00,  1.43439054e+01,  2.29727465e+00,
        1.78866660e+00,  7.57003282e+00,  3.62257614e+00,  9.59109300e+00,
        4.34090873e+00,  7.19295187e+00,  3.31178248e+00,  7.99241530e+00,
        3.44556057e+00,  6.27158978e+00, -8.28797691e-01,  6.01852397e+00,
        2.05167145e+00,  3.55351677e+00,  6.05479260e+00,  3.05883806e+00,
        4.75835464e+00,  2.18173848e+01,  3.72442953e+00,  9.09568358e+00,
        7.62297744e+00,  5.73106663e+00,  4.95986085e+00,  3.76759170e+00,
       -3.09066010e+00,  1.46820987e+00,  5.54761814e+00,  4.47144591e+00,
        6.21530513e+00,  9.77025669e+00,  1.02152208e+01,  5.27336460e+00,
        1.80238261e+00,  7.06940161e+00,  2.98431608e+00, -1.40590129e-01,
        2.46944246e+00,  6.48956760e+00,  4.27963149e+00,  4.44218080e+00,
       -1.93681667e+00, -7.91908490e-01,  7.31424180e+00,  5.10381986e+00,
        1.70817185e+00, -8.32203418e+00,  4.82024748e+00, -7.29049715e-02,
        3.53876958e+00,  4.40692797e+00,  2.55352849e+00,  2.87625185e+00,
        8.40005925e+00,  1.18595220e+00,  3.59665266e+00,  4.32500773e+00,
        8.08870846e+00,  1.93423753e+00,  1.50731704e+00,  2.17643705e+01,
        2.62202090e+00,  4.26168906e+00,  2.95418536e+00,  3.26339484e+00,
        8.63397956e-01,  8.25572485e+00,  3.17485508e+00,  7.79137181e+00,
       -2.39596313e+00,  4.25376528e+00,  6.69859530e+00,  8.61314607e+00,
        3.04611702e+00,  9.43324361e+00,  1.02257717e+01,  5.90609862e+00,
        3.71623125e+00,  6.61647057e+00,  3.11346096e+00,  8.82431517e+00,
        1.11893135e+01,  2.40524426e+00,  5.21172188e+00,  5.20817537e+00,
        3.40667742e+00,  6.19361107e+00,  9.54500178e-01,  1.54340114e+01,
        6.10639368e-01,  5.31362344e-01,  3.75367156e+00,  1.75747461e+00,
        1.13558104e+01,  1.96441699e+00,  2.14452923e+00,  1.53331543e+00,
        5.57908250e+00,  6.59587359e+00, -1.42556962e-02,  2.77326281e+00,
        4.90365654e+00,  1.53829609e+01,  1.96374146e+00,  1.38185467e+00,
        9.15698555e-01,  2.44509245e+01,  8.22187155e-01,  2.85306234e+00,
        4.32979556e+00,  8.28029307e-01,  7.69882475e+00,  8.62500053e+00,
        7.35325287e+00,  2.47569434e+00,  2.09324942e+00,  7.92628206e+00,
        6.30170478e+00,  1.07858056e+01,  2.19617994e+00,  2.77365839e+00,
        3.04009398e+00,  1.20084265e+00,  1.72750025e+01,  4.81357927e+00,
        4.10550180e+00,  7.51719087e+00,  7.32053537e+00,  3.51106438e+00,
        1.92600221e+01,  5.45891112e+00,  5.84611636e+00,  1.28205255e+00,
        8.32179535e+00,  5.45435588e+00,  5.35485486e+00,  6.20471443e-01,
        1.46810372e-01, -2.34990588e+00,  1.25641018e+01,  1.72020367e+00,
       -5.20185532e-01,  4.38448061e+00,  3.80490776e+00, -2.16016569e+01,
        9.63388005e-01,  8.48024835e+00,  8.31762640e+00,  1.72864556e+00,
        4.43234120e+00, -6.05485301e+00,  4.86639740e+01,  3.28086817e+00,
       -4.34506759e+00,  2.06696119e+00,  1.51016966e+00,  6.82473891e+00,
        2.79271283e+00,  4.00324873e+00, -1.78118090e+00,  1.95303434e+00,
        1.36095260e+00,  2.01742976e+00,  8.48923917e+00,  1.66260398e-01,
        3.86278338e+00,  4.41647853e+00,  8.39464270e+00,  2.92123542e+00,
        1.33116189e+01,  1.80411829e+00,  3.40023655e+00, -4.91933650e-01,
        1.95769550e+00,  5.10441349e+00,  6.82511643e+00,  5.31877776e-01,
        4.38379652e+00, -1.03928011e+00,  3.59485519e+00,  7.56662157e-01,
        5.62888797e+00,  5.27232112e-01,  3.58136896e+00,  3.18052488e+00,
        6.18389127e+00,  5.10989377e-01,  5.94163899e+00,  3.40997642e+00,
        1.52101132e+01,  1.52762903e+00,  1.15455227e+00,  3.99585672e+00,
        6.95756953e+00,  4.19133845e+00,  4.78529981e+00,  6.35923127e-01,
        1.10248825e+01,  5.27920863e+00,  3.11043332e+00,  2.27303898e-01,
        1.56824662e+00,  3.97611136e+00,  2.85197129e+00,  2.74073482e+00,
        3.56507735e-01,  8.90768529e+00,  9.84993338e+00,  8.55550888e+00,
        1.00818632e+01])

In [17]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
r2

0.7873976160428405

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [19]:
dtmodel = DecisionTreeRegressor()

In [20]:
dtmodel.fit(X_train, y_train)

DecisionTreeRegressor()

In [21]:
y_pred1 = dtmodel.predict(X_test)
y_pred1

array([ 8.4 ,  3.  ,  2.85,  5.5 ,  0.6 ,  0.25,  5.  ,  2.95,  5.5 ,
        5.  ,  0.2 ,  1.15,  0.2 ,  6.  ,  5.5 ,  4.  ,  5.3 ,  4.4 ,
        6.45,  1.15,  0.45, 23.  ,  5.  , 14.5 ,  3.95,  3.9 ,  8.4 ,
        0.25,  1.15,  2.85, 14.5 ,  0.2 ,  1.15,  4.5 ,  2.85,  8.4 ,
        3.9 ,  5.5 ,  1.15,  7.75,  0.2 ,  6.15,  0.6 ,  3.9 ,  0.6 ,
        1.15,  5.5 ,  5.25,  4.4 , 23.  ,  1.15,  7.5 ,  7.75,  8.25,
        4.4 ,  4.4 ,  0.2 ,  4.15,  5.5 ,  5.5 ,  6.  ,  8.25,  8.4 ,
        5.5 ,  2.85,  6.45,  0.6 ,  5.25,  2.95,  5.5 ,  3.65,  5.5 ,
        0.6 ,  5.25,  8.35,  5.15,  0.2 ,  0.6 ,  5.5 ,  3.  ,  3.95,
        2.9 ,  0.25,  0.2 ,  8.4 ,  0.45,  4.  ,  4.  ,  5.25,  0.6 ,
        1.15, 14.5 ,  1.11,  3.9 ,  1.35,  4.4 ,  0.6 ,  7.75,  0.6 ,
        8.4 ,  0.2 ,  4.4 ,  4.4 ,  8.4 ,  1.15,  8.4 ,  7.5 ,  6.  ,
        0.25,  6.15,  0.6 ,  5.25,  4.5 ,  0.2 ,  5.5 ,  6.  ,  2.9 ,
        4.5 ,  0.2 ,  8.4 ,  0.2 ,  1.35,  1.15,  1.15,  8.4 ,  2.9 ,
        3.  ,  0.45,  5.5 ,  6.6 ,  0.6 ,  4.15,  5.15, 14.5 ,  0.2 ,
        4.15,  0.45, 23.  ,  0.2 ,  0.6 ,  5.5 ,  2.95,  8.4 ,  8.4 ,
        7.75,  0.2 ,  0.45,  7.5 ,  5.  ,  4.5 ,  2.95,  2.85,  1.15,
        3.  , 23.  ,  8.25,  4.15,  7.5 ,  8.35,  1.15, 23.  ,  3.9 ,
        5.25,  0.45,  6.45,  4.4 ,  5.25,  0.2 ,  0.6 ,  0.2 ,  8.4 ,
        0.6 ,  0.25,  5.3 ,  4.4 ,  0.3 ,  1.1 ,  8.4 ,  8.4 ,  0.45,
        5.25,  1.35, 14.5 ,  0.6 ,  0.2 ,  0.6 ,  0.2 ,  8.35,  4.  ,
        3.  ,  0.6 ,  0.6 ,  0.45,  2.85,  8.4 ,  0.6 ,  1.15,  5.15,
        4.5 ,  0.6 ,  8.4 ,  1.1 ,  0.6 ,  1.1 ,  0.25,  6.  ,  7.5 ,
        0.25,  3.9 ,  0.2 ,  0.25,  1.95,  5.  ,  0.6 ,  0.25,  2.9 ,
        5.5 ,  3.  ,  5.5 ,  4.4 ,  8.4 ,  0.2 ,  0.2 ,  5.  ,  8.75,
        2.85,  2.85,  0.3 ,  8.4 ,  5.5 ,  3.25,  0.6 ,  0.45,  3.9 ,
        0.2 ,  0.6 ,  1.1 ,  8.4 ,  5.  ,  7.5 ,  8.4 ])

In [22]:
r2_1 = r2_score(y_test, y_pred1)
r2_1

0.818031861924978

In [23]:
from sklearn.ensemble import RandomForestRegressor

In [24]:
rfModel = RandomForestRegressor()

In [25]:
rfModel.fit(X_train, y_train)

RandomForestRegressor()

In [26]:
y_pred2 = rfModel.predict(X_test)
y_pred2

array([ 7.961 ,  4.978 ,  2.744 ,  5.7205,  1.0176,  0.3332,  6.514 ,
        2.9885,  5.256 ,  6.6955,  0.234 ,  1.3566,  0.3511,  6.5405,
        5.8505,  4.134 ,  5.097 ,  4.573 ,  7.213 ,  1.2742,  0.473 ,
       16.967 ,  5.4905, 14.174 ,  3.969 ,  3.937 ,  7.7565,  0.2995,
        1.1277,  2.494 , 14.683 ,  0.5711,  1.081 ,  4.764 ,  3.6535,
        8.0125,  4.902 ,  7.0055,  1.2969,  7.641 ,  0.5801,  6.0205,
        0.46  ,  4.6305,  0.6107,  1.4764,  5.7885,  3.8   ,  4.573 ,
       16.9365,  1.5154,  7.783 ,  7.609 ,  7.454 ,  4.9915,  4.3545,
        0.231 ,  3.782 ,  5.5455,  4.688 ,  5.8085,  7.5175,  7.799 ,
        5.41  ,  2.943 ,  6.8515,  0.8101,  5.3165,  3.009 ,  5.6   ,
        3.823 ,  4.688 ,  0.414 ,  5.342 ,  7.743 ,  4.4665,  0.3005,
        0.7415,  5.3485,  3.325 ,  3.9595,  3.2785,  0.6041,  0.5801,
        8.0405,  0.656 ,  4.042 ,  3.8135,  5.7875,  0.5592,  1.2337,
       15.507 ,  1.0883,  4.0215,  1.3567,  4.2685,  0.5561,  7.717 ,
        1.0131,  7.8055,  0.2705,  4.644 ,  4.692 ,  7.77  ,  1.2579,
        7.87  ,  7.8745,  5.916 ,  0.8291,  6.0125,  0.7936, 10.021 ,
        9.298 ,  0.3557,  5.608 ,  5.713 ,  3.0635,  4.8825,  0.3577,
       12.582 ,  0.264 ,  1.2309,  1.4764,  1.12  ,  8.0995,  3.209 ,
        3.341 ,  0.6585,  5.5455,  6.7305,  0.498 ,  4.1515,  4.9075,
       14.678 ,  0.3406,  3.7825,  0.462 , 17.0495,  0.4985,  0.7986,
        4.7055,  2.9555,  7.7155,  7.889 ,  7.558 ,  0.6106,  0.719 ,
        7.548 ,  5.813 ,  8.5555,  2.9875,  3.3256,  1.2579,  2.999 ,
       17.477 ,  7.6905,  4.304 ,  7.5105,  7.743 ,  1.2969, 16.967 ,
        4.371 ,  4.0525,  0.4605,  7.2255,  4.9905, 10.0045,  0.2565,
        0.5627,  0.231 ,  8.633 ,  0.5807,  0.265 ,  5.0385,  4.108 ,
        0.5525,  1.0684,  7.79  ,  7.9865,  0.4635,  5.8635,  1.4709,
       13.144 ,  1.0146,  0.5545,  0.5866,  0.3125,  7.494 ,  4.123 ,
        3.3735,  0.4055,  0.6047,  0.4225,  3.448 ,  7.79  ,  0.4675,
        1.5154,  4.2705,  5.3295,  0.8556, 12.2805,  1.0957,  1.0176,
        1.0964,  0.3325,  5.745 ,  7.6285,  0.298 ,  4.001 ,  0.317 ,
        0.8291,  2.4465,  5.707 ,  0.502 ,  0.8291,  3.144 ,  5.312 ,
        4.896 ,  5.729 ,  3.9965, 12.46  ,  0.3112,  0.2745,  5.841 ,
        7.595 ,  4.1255,  4.418 ,  0.3437,  8.061 ,  5.41  ,  3.9465,
        0.489 ,  0.6111,  4.1015,  0.8081,  0.7786,  1.0659,  7.8915,
        6.5755,  7.6405,  8.071 ])

In [27]:
r2_2 = r2_score(y_test, y_pred2)
r2_2

0.7897496353957202

In [28]:
rfModel.score(X_test, y_test)

0.7897496353957202

In [29]:
rfModel.score(X_train, y_train)

0.9336713744421752